<div class="row">
  <% comments.each do |comment| %>
    <div class="col-sm-8 col-centered">
      <div class="comment">
        <%= comment.text %>
        <%= comment.author %>
      </div>
    </div>
  <% end %>
</div>