<% if quote.errors.full_messages_for(symbol).any? %>
  <div id="error_explanation">
    <% quote.errors.full_messages_for(symbol).each do |symbol| %>
      <%= symbol %>
    <% end %>
  </div>
<% end %>