<article>
  <div class="quote">
    <%= remove_quote_mark add_whitespace_to_long_string quote.content %>
    <span class="author">
          <%= add_whitespace_to_long_string quote.author %>
    </span>
  </div>
</article>