<%= render 'form', quote: @quote, action: 'Add' %>

<div class="row">
  <div class="col-sm-4 col-centered">
    <%= button_to 'Back', quotes_path, method: :get, class: 'btn btn-success' %>
  </div>
</div>
