/*
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: url("prism.png");
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.title {
  margin: 0 auto 50px;
  text-align: center;
  float: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0 auto;
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


#add {
  margin: 0px auto;
  float: none;
}

#notice {
  color: green;
  float: none;
  margin: 0 auto 35px;
  text-align: center;
  font-weight: bold;
}

#error_explanation {
  position: relative;
  display: block;
  font-weight: bold;
  color: #ff5e5e;
}

.field_with_errors {
  @extend .is-invalid;
  .form-control {
    border-color: #B00100;
  }
}

input, textarea, select, .uneditable-input, button {
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid #bbb;
  width: 100%;
}

input {
  height: auto !important;
}

label {
  display: block;
  color: #ffffff;
}


