// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quote {
  position: relative;
  display: block;
  text-align: left;
  box-sizing: border-box;
  background-color: rgba(196, 206, 196, 0.5);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 25px;
  line-height: 30px;
  min-width: 100px;
  min-height: 100px;
  padding: 70px 30px 50px 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  border: 0.5px outset black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #999,
              2px 2px 1px #999,
              3px 3px 1px #999;


  &:hover {
    background-color: rgba(230, 230, 230, 0.7);
    color: black;
    box-shadow: 1px 1px 5px #999,
                2px 2px 6px #999,
                3px 3px 7px #999;
  }

  span.author {
    position: relative;
    font-style: normal;
    display: block;
    text-align: right;
    margin-top: 15px;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50px;
    left: 10px;
    content: "\"";
    font-family: 'Bitter', serif;
    font-size: 120px;
    color: black;
  }
}

#quotes {
  margin-bottom: 100px;
}

