<header>
  <div class="row">
    <div class="col-sm-1 title">
      Quotes
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</header>