<header>
  <div class="row">
    <div class="col-sm-12 title">
      Quotes
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-centered">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</header>